.DS_Store
BarTender1/.DS_Store
BarTender1/.idea/
BarTender2/.idea/
BarTender2/.gradle
BarTender2/local.properties
BarTender2/.idea/workspace.xml
BarTender2/.idea/libraries
BarTender2/.DS_Store
BarTender2/build

