<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.uclouvain.lsinf1225.musicplayer">
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19"/>

    <application
        android:name="be.uclouvain.lsinf1225.bartender.BarTenderApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="be.uclouvain.lsinf1225.bartender.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.uclouvain.lsinf1225.bartender.activity.RegisterActivity"
            android:label="@string/register_activity_title"/>
        <activity
            android:name="be.uclouvain.lsinf1225.bartender.activity.MainActivity"
            android:label="@string/main_activity_title" />
        <activity
            android:name="be.uclouvain.lsinf1225.bartender.activity.ShowListActivity"
            android:label="@string/show_list_activity_title"/>
        <activity
            android:name="be.uclouvain.lsinf1225.bartender.activity.SearchActivity"
            android:label="@string/search_activity_title" />
        <activity
            android:name="be.uclouvain.lsinf1225.bartender.activity.PlayerActivity"
            android:label="@string/add_activity_title" />
        <activity
            android:name="be.uclouvain.lsinf1225.bartender.activity.ShowDetailsActivity"
            android:label="@string/show_details_activity_title"/>
    </application>
</manifest>
